body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.appContainer {
  display: flex;
  height: 100%;
}

.leftSide {
    border: 1px solid gray;
    flex: 1;
    margin: 10px;
}

.rightSide{
    border: 1px solid black;
    flex: 1;
    margin:10px;
}